* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }
  @media (max-width: 1250px) {
    html {
      font-size: 9px; } }
  @media (max-width: 1100px) {
    html {
      font-size: 8px; } }
  @media (max-width: 1000px) {
    html {
      font-size: 7px; } }
  @media (max-width: 850px) {
    html {
      font-size: 6px; } }
  @media (max-width: 750px) {
    html {
      font-size: 5px; } }
  @media (max-width: 500px) {
    html {
      font-size: 4px; } }
  @media (max-width: 400px) {
    html {
      font-size: 3px; } }

body {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

a, a:link, a:visited {
  text-decoration: none;
  color: inherit; }

.main-header {
  text-align: center;
  color: #f7f7f7;
  font-size: 4rem; }
  @media (max-width: 1100px) {
    .main-header {
      font-size: 5rem; } }
  .main-header__sentense {
    color: #d80000;
    font-size: 3.5rem; }
    @media (max-width: 850px) {
      .main-header__sentense {
        font-size: 4rem; } }
    @media (max-width: 850px) {
      .main-header__sentense {
        font-size: 4.5rem; } }

.navigation {
  font-size: 3rem;
  list-style: none;
  color: #f7f7f7; }
  @media (max-width: 1100px) {
    .navigation {
      font-size: 3.5rem; } }
  @media (max-width: 850px) {
    .navigation {
      font-size: 4.5rem; } }
  @media (max-width: 500px) {
    .navigation {
      font-size: 5.5rem; } }
  .navigation__element {
    border-right: solid 2px #d80000;
    transition: all 0.6s; }
    @media (max-width: 850px) {
      .navigation__element--main {
        background-color: rgba(0, 0, 0, 0.192);
        border: 3px solid white;
        text-align: center;
        width: 35rem;
        padding: 1rem 4rem;
        flex-shrink: 0; } }
    @media (max-width: 500px) {
      .navigation__element--main {
        width: 30rem; } }
    .navigation__element:hover {
      color: #d80000; }
    .navigation__element--small {
      font-size: 2.5rem; }
    .navigation__element--last {
      border-right: none; }
      @media (max-width: 850px) {
        .navigation__element--last {
          border-right: 3px solid white; } }

.section-header {
  display: block;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  line-height: 1rem; }
  @media (max-width: 1100px) {
    .section-header {
      margin-top: 7vh; } }
  .section-header::before {
    content: "";
    display: block;
    width: 20rem;
    height: .3rem;
    background-color: #d80000; }
    @media (max-width: 1000px) {
      .section-header::before {
        width: 18rem; } }
  .section-header::after {
    content: "";
    display: block;
    width: 20rem;
    height: .3rem;
    background-color: #d80000; }
    @media (max-width: 1000px) {
      .section-header::after {
        width: 18rem; } }
  .section-header__content {
    color: #d80000;
    font-size: 4.5rem;
    padding: 0 3rem; }
    @media (max-width: 1100px) {
      .section-header__content {
        font-size: 5rem; } }

.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.article {
  display: block;
  padding: 0 7vw;
  color: #070707;
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center; }
  .article--right {
    transform: translateX(6rem); }

.time-aside {
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .time-aside__paragraph {
    font-size: 2.7rem;
    line-height: 3rem;
    align-items: center;
    display: flex;
    color: #f7f7f7;
    text-align: center;
    transform: rotate(270deg); }
    .time-aside__paragraph--alt-rotate {
      transform: rotate(90deg); }
    .time-aside__paragraph::before {
      margin-right: 5rem;
      content: "";
      display: block;
      width: 80vh;
      height: .3rem;
      background-color: #f7f7f7; }
    .time-aside__paragraph::after {
      margin-left: 5rem;
      content: "";
      display: block;
      width: 80vh;
      height: .3rem;
      background-color: #f7f7f7; }

.about-aside {
  align-self: center; }
  .about-aside__content {
    background-color: #d80000;
    height: 30rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .about-aside__content--decision {
      height: 25rem;
      text-align: center; }
  .about-aside__paragraph {
    display: block;
    width: 10rem;
    color: #f7f7f7;
    font-size: 2rem;
    text-align: center;
    transform: rotate(90deg); }
    @media (max-width: 1100px) {
      .about-aside__paragraph {
        font-size: 2.5rem;
        width: 15rem; } }
    .about-aside__paragraph--large {
      width: 20rem; }

.button {
  display: block;
  background-color: #d80000;
  width: 30rem;
  text-align: center;
  padding: .6rem;
  font-size: 2.5rem;
  color: #f7f7f7; }
  @media (max-width: 1250px) {
    .button {
      font-size: 2.8rem; } }
  @media (max-width: 1100px) {
    .button {
      font-size: 3rem;
      width: 33rem; } }
  @media (max-width: 1000px) {
    .button {
      font-size: 3rem;
      width: 35rem; } }
  .button__content {
    display: block;
    width: 100%; }
  .button--large {
    width: 35rem;
    font-size: 3rem; }
    @media (max-width: 1100px) {
      .button--large {
        font-size: 3.4rem;
        width: 37rem; } }
    @media (max-width: 1000px) {
      .button--large {
        font-size: 3.5rem;
        width: 40rem; } }

.ornament {
  background-position: center;
  background-size: cover;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 1100px) {
    .ornament {
      height: 20rem; } }
  .ornament--bgimage1 {
    background-image: url(../images/ornament1.jpg); }
  .ornament--bgimage2 {
    background-image: url(../images/ornament2.jpg); }
  .ornament--bgimage3 {
    background-image: url(../images/ornament3.jpg); }
  .ornament--bgimage4 {
    background-image: url(../images/ornament4.jpg);
    background-position: center; }
  .ornament__content {
    display: block;
    background-color: rgba(0, 0, 0, 0.394);
    color: #f7f7f7;
    font-size: 2.5rem;
    width: 80%;
    padding: 1rem; }
    .ornament__content--3 {
      font-size: 2rem; }

.day-container {
  width: 100%;
  display: flex;
  padding-bottom: 5rem;
  justify-content: space-around;
  border-bottom: 2px solid #aea6a6; }
  .day-container__heading {
    color: #d80000;
    font-size: 4.5rem;
    order: 1; }
    .day-container__heading--col2 {
      order: 2; }
  .day-container__content {
    display: block;
    width: 50%;
    color: #070707;
    font-size: 2.5rem;
    order: 1; }

.card {
  position: relative;
  width: 20vw;
  height: 45rem;
  transform-style: preserve-3d;
  transition: all 0.9s ease; }
  .card:hover {
    transform: translateY(-2rem) rotateY(180deg); }
  .card__front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #d80000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .card__image {
    width: 20rem; }
  .card__paragraph {
    margin-top: 2rem;
    color: white;
    font-size: 4rem; }
  .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #d80000;
    background-image: url(../images/uprising-symbol.png);
    background-position: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    padding: 2rem;
    text-align: center; }

.gallery {
  overflow: hidden;
  width: 100%; }

.gallery-img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  object-fit: cover;
  overflow: hidden;
  transition: 0.4s; }
  .gallery-img:hover {
    z-index: 1;
    position: relative;
    cursor: pointer;
    filter: contrast(200%); }

.restricted-paragraph {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  color: #f7f7f7;
  font-size: 2rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .popup__content {
    display: block;
    width: 70%;
    background-color: #070707;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transition: all .5s .2s;
    padding: 2rem;
    border: 4px solid #d80000; }
  .popup__video {
    width: 100%; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1; }
  .popup__text {
    background-color: rgba(255, 255, 255, 0.872); }

.container {
  overflow: hidden; }

.header {
  background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: max-content 2fr max-content 1fr; }
  @media (max-width: 850px) {
    .header {
      display: flex;
      flex-direction: column; } }
  .header__image {
    width: 20rem;
    grid-area: 1 / 1;
    display: none; }
  .header__main-header {
    grid-column: 1 / 5;
    grid-row: 3;
    margin-bottom: 10vh;
    order: 1; }
    @media (max-width: 850px) {
      .header__main-header {
        margin-top: 10vh; } }
  .header__navigation-container {
    margin-top: 5vh;
    grid-column: 3 / 4;
    grid-row: 1;
    order: 2; }
    @media (max-width: 850px) {
      .header__navigation-container {
        margin-top: 2vh; } }
    @media (max-width: 500px) {
      .header__navigation-container {
        margin-top: 0; } }
  .header__navigation {
    display: flex; }
    @media (max-width: 850px) {
      .header__navigation {
        flex-direction: column;
        align-items: center;
        width: 100%; } }

.navigation {
  display: flex; }
  .navigation__element {
    margin-right: 4rem;
    padding-right: 3rem; }
    @media (max-width: 850px) {
      .navigation__element {
        margin-top: 4vh; } }

.storm-section {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 7vw repeat(2, 3fr) min-content; }
  .storm-section__image {
    grid-column: 3 / 4;
    grid-row: 2;
    align-self: center;
    width: 40vw;
    z-index: 1;
    transform: translateX(3rem); }
  .storm-section__articles-container {
    margin-top: 8vh;
    grid-row: 2;
    grid-column: 2; }
    @media (max-width: 1250px) {
      .storm-section__articles-container {
        margin-top: 6vh; } }
    @media (max-width: 1100px) {
      .storm-section__articles-container {
        margin-top: 0; } }
  .storm-section__section-header {
    grid-row: 1;
    grid-column: 1 / 5; }
  .storm-section__time-aside {
    grid-row: 1 / -1;
    grid-column: 1; }
  .storm-section__button {
    margin-top: 8vh;
    justify-content: center;
    margin-bottom: 8vh; }
    @media (max-width: 1100px) {
      .storm-section__button {
        margin-top: 5vh;
        margin-bottom: 5vh; } }
  .storm-section__about-aside {
    grid-row: 2;
    grid-column: 4; }

.articles-container {
  margin-top: 5vh; }
  .articles-container__article {
    margin-top: 5vh; }
    @media (max-width: 1100px) {
      .articles-container__article {
        margin-top: 2vh; } }

.decision-section {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content  1fr 2fr 8rem; }
  .decision-section__section-header {
    grid-row: 1;
    grid-column: 1 / 5; }
  .decision-section__time-aside {
    grid-row: 1 / -1;
    grid-column: 4; }
  .decision-section__articles-container {
    margin-top: 15vh;
    justify-self: center;
    grid-row: 2;
    grid-column: 3; }
    @media (max-width: 1100px) {
      .decision-section__articles-container {
        margin-top: 8vh; } }
  .decision-section__image {
    margin-top: 10vh;
    margin-bottom: 10vh;
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    margin-left: 10vw;
    width: 35rem; }

.uprising-time-section {
  display: grid;
  grid-template-columns: 8rem 1fr min-content;
  grid-template-rows: repeat(4, min-content); }
  .uprising-time-section__time-aside {
    grid-row: 1 / 8;
    grid-column: 1; }
  .uprising-time-section__about-aside {
    display: flex;
    align-items: flex-end;
    height: 100%;
    grid-row: 2;
    grid-column: 5; }
  .uprising-time-section__button {
    justify-self: center;
    grid-column: 2;
    grid-row: 7;
    margin-top: 10vh;
    margin-bottom: 10vh; }
    @media (max-width: 1100px) {
      .uprising-time-section__button {
        margin-top: 5vh;
        margin-bottom: 5vh; } }

.all-days-container {
  margin-top: 5vh;
  grid-column: 2 / 3;
  width: 90%;
  margin-left: 5vw; }
  .all-days-container__day-container {
    margin-top: 14vh; }
    @media (max-width: 1100px) {
      .all-days-container__day-container {
        margin-top: 5vh; } }
    @media (max-width: 850px) {
      .all-days-container__day-container {
        margin-top: 5vh; } }

.uprising-effects-section {
  display: grid;
  grid-template-columns: 8rem min-content 1fr min-content;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 10vh; }
  .uprising-effects-section__section-header {
    grid-row: 1;
    grid-column: 2 / 8; }
  .uprising-effects-section__time-aside {
    grid-column: 1;
    grid-row: 1 / -1; }
  .uprising-effects-section__about-aside {
    grid-column: 8;
    grid-row: 2; }
  .uprising-effects-section__article {
    grid-row: 2;
    grid-column: 2 / 4;
    align-self: center; }
    @media (max-width: 1100px) {
      .uprising-effects-section__article {
        align-self: start; } }
  .uprising-effects-section__button {
    margin-top: 15vh; }
    @media (max-width: 1100px) {
      .uprising-effects-section__button {
        margin-top: 5vh; } }
    @media (max-width: 1000px) {
      .uprising-effects-section__button {
        margin-top: 5vh; } }
  .uprising-effects-section__card {
    grid-row: 2;
    grid-column: 4;
    margin-right: 6vw;
    margin-bottom: 5vh; }
    .uprising-effects-section__card--second {
      grid-column: 6; }

.gallery-section {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 2fr 80vw 1fr min-content; }
  .gallery-section__gallery {
    justify-self: center;
    margin-top: 5vh;
    grid-column: 2;
    grid-row: 2;
    margin-top: 10vh;
    margin-bottom: 10vh; }
    @media (max-width: 1100px) {
      .gallery-section__gallery {
        margin-bottom: 5vh;
        margin-top: 5vh; } }
  .gallery-section__section-header {
    grid-row: 1;
    grid-column: 1 / -1; }
  .gallery-section__about-aside {
    grid-column: 4;
    grid-row: 2 / -1;
    align-self: center; }

.gallery {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(8, 10vw);
  grid-gap: 1rem; }
  .gallery__image1 {
    grid-column: 1 / 4;
    grid-row: 1; }
  .gallery__image2 {
    grid-column: 4 / 8;
    grid-row: 1; }
  .gallery__image3 {
    grid-column: 1 / 8;
    grid-row: 2; }
  .gallery__image4 {
    grid-column: 1 / 3;
    grid-row: 3; }
  .gallery__image5 {
    grid-column: 3 / 5;
    grid-row: 3; }
  .gallery__image6 {
    grid-column: 5 / 8;
    grid-row: 3; }
  .gallery__button {
    grid-row: 4;
    grid-column: 1 / 8;
    justify-self: center;
    margin-top: 5vh;
    transform: translate(5vw); }

.footer {
  padding: 7vh 5vw;
  background-color: #383838; }
  @media (max-width: 1100px) {
    .footer {
      padding: 4vh 2vw 2vh 2vw; } }
  @media (max-width: 1000px) {
    .footer {
      padding: 4vh 4vw; } }
  .footer__navigation-container {
    display: flex;
    justify-content: center;
    width: 100%; }
  .footer__restricted-paragraph {
    margin-top: 5vh; }
    @media (max-width: 1100px) {
      .footer__restricted-paragraph {
        margin-top: 2vh; } }

.popup__button {
  margin: 2vh auto 0 auto; }
