* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

a, a:link, a:visited {
  text-decoration: none;
  color: inherit; }

.main-header {
  text-align: center;
  color: #f7f7f7;
  font-size: 4rem; }
  .main-header__sentense {
    color: #d80000;
    font-size: 3.5rem; }

.navigation {
  display: flex;
  font-size: 3rem;
  list-style: none;
  color: #f7f7f7; }
  .navigation__element {
    margin-right: 4rem;
    padding-right: 3rem;
    border-right: solid 2px #d80000;
    transition: all 0.6s; }
    .navigation__element:hover {
      color: #d80000; }
    .navigation__element--small {
      font-size: 2.5rem; }
    .navigation__element--last {
      border-right: none; }

.section-header {
  display: block;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  line-height: 1rem; }
  .section-header::before {
    content: "";
    display: block;
    width: 14vw;
    height: .3rem;
    background-color: #d80000; }
  .section-header::after {
    content: "";
    display: block;
    width: 14vw;
    height: .3rem;
    background-color: #d80000; }
  .section-header__content {
    color: #d80000;
    font-size: 4.5rem;
    padding: 0 3rem; }

.articles-container {
  display: flex;
  flex-direction: column; }

.article {
  display: block;
  padding: 0 10rem;
  color: #070707;
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center; }
  .article--right {
    transform: translateX(6rem); }

.time-aside {
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .time-aside__paragraph {
    font-size: 2.7rem;
    line-height: 3rem;
    align-items: center;
    display: flex;
    color: #f7f7f7;
    text-align: center;
    transform: rotate(270deg); }
    .time-aside__paragraph--alt-rotate {
      transform: rotate(90deg); }
    .time-aside__paragraph::before {
      margin-right: 5rem;
      content: "";
      display: block;
      width: 80vh;
      height: .3rem;
      background-color: #f7f7f7; }
    .time-aside__paragraph::after {
      margin-left: 5rem;
      content: "";
      display: block;
      width: 80vh;
      height: .3rem;
      background-color: #f7f7f7; }

.about-aside {
  align-self: center; }
  .about-aside__content {
    background-color: #d80000;
    height: 40vh;
    width: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .about-aside__content--decision {
      height: 30vh;
      text-align: center; }
  .about-aside__paragraph {
    display: block;
    width: 10rem;
    color: #f7f7f7;
    font-size: 2rem;
    transform: rotate(90deg); }
    .about-aside__paragraph--large {
      width: 20rem; }

.button {
  display: block;
  background-color: #d80000;
  width: 30rem;
  text-align: center;
  padding: .6rem;
  font-size: 2.5rem;
  color: #f7f7f7; }
  .button--large {
    width: 35rem;
    font-size: 3rem; }

.ornament {
  background-position: center;
  background-size: cover;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ornament--bgimage1 {
    background-image: url(../images/ornament1.jpg); }
  .ornament--bgimage2 {
    background-image: url(../images/ornament2.jpg); }
  .ornament--bgimage3 {
    background-image: url(../images/ornament3.jpg); }
  .ornament--bgimage4 {
    background-image: url(../images/ornament4.jpg);
    background-position: center; }
  .ornament__content {
    display: block;
    background-color: rgba(0, 0, 0, 0.394);
    color: #f7f7f7;
    font-size: 2.5rem;
    width: 80%;
    padding: 1rem; }
    .ornament__content--3 {
      font-size: 2rem; }

.day-container {
  padding-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #aea6a6; }
  .day-container__heading {
    color: #d80000;
    font-size: 4.5rem;
    order: 1; }
    .day-container__heading--col2 {
      order: 2; }
  .day-container__content {
    display: block;
    width: 50%;
    color: #070707;
    font-size: 2.5rem;
    order: 1; }

.card {
  position: relative;
  width: 20vw;
  height: 45rem;
  transform-style: preserve-3d;
  transition: all 0.9s ease; }
  .card:hover {
    transform: translateY(-2rem) rotateY(180deg); }
  .card__front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #d80000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .card__image {
    width: 20rem; }
  .card__paragraph {
    margin-top: 2rem;
    color: white;
    font-size: 4rem; }
  .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #d80000;
    background-image: url(../images/uprising-symbol.png);
    background-position: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    padding: 2rem;
    text-align: center; }

.gallery {
  overflow: hidden;
  width: 100%; }

.gallery-img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  object-fit: cover;
  overflow: hidden; }

.restricted-paragraph {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  color: #f7f7f7;
  font-size: 2rem; }

.container {
  overflow: hidden; }

.header {
  background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: max-content 2fr max-content 1fr; }
  .header__image {
    width: 20rem;
    grid-area: 1 / 1; }
  .header__main-header {
    grid-column: 1 / 5;
    grid-row: 3;
    margin-bottom: 10vh; }
  .header__navigation-container {
    margin-top: 5vh;
    grid-column: 3 / 4;
    grid-row: 1; }

.storm-section {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 8rem repeat(2, 3fr) min-content; }
  .storm-section__image {
    grid-column: 3 / 4;
    grid-row: 2;
    margin-top: 20vh;
    width: 50rem;
    z-index: 1;
    transform: translateX(3rem); }
  .storm-section__articles-container {
    margin-top: 10vh;
    grid-row: 2;
    grid-column: 2; }
  .storm-section__section-header {
    grid-row: 1;
    grid-column: 1 / 5;
    margin-top: 15vh; }
  .storm-section__time-aside {
    grid-row: 1 / -1;
    grid-column: 1; }
  .storm-section__button {
    margin-top: 10vh;
    margin-left: 20rem;
    margin-bottom: 5rem; }
  .storm-section__about-aside {
    grid-row: 2;
    grid-column: 4; }

.articles-container__article {
  margin-top: 10vh; }

.decision-section {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content  1fr 2fr 8rem; }
  .decision-section__section-header {
    grid-row: 1;
    grid-column: 1 / 5;
    margin-top: 15vh; }
  .decision-section__time-aside {
    grid-row: 1 / -1;
    grid-column: 4; }
  .decision-section__articles-container {
    margin-top: 15vh;
    justify-self: center;
    grid-row: 2;
    grid-column: 3; }
  .decision-section__image {
    grid-column: 2;
    grid-row: 2;
    margin-top: 20vh;
    margin-left: 10vw;
    width: 35rem; }

.uprising-time-section {
  display: grid;
  grid-template-columns: 8rem 1fr min-content;
  grid-template-rows: repeat(4, min-content); }
  .uprising-time-section__time-aside {
    grid-row: 1 / 8;
    grid-column: 1; }
  .uprising-time-section__about-aside {
    display: flex;
    align-items: flex-end;
    height: 100%;
    grid-row: 2;
    grid-column: 5; }
  .uprising-time-section__button {
    justify-self: center;
    grid-column: 2;
    grid-row: 7;
    margin-top: 10vh;
    margin-bottom: 10vh; }

.all-days-container {
  margin-top: 10vh;
  grid-column: 2 / 3;
  width: 90%;
  margin-left: 5vw; }
  .all-days-container__day-container {
    margin-top: 14vh; }

.uprising-effects-section {
  display: grid;
  grid-template-columns: 8rem min-content 1fr min-content;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 10rem; }
  .uprising-effects-section__section-header {
    grid-row: 1;
    grid-column: 2 / 8; }
  .uprising-effects-section__time-aside {
    grid-column: 1;
    grid-row: 1 / -1; }
  .uprising-effects-section__about-aside {
    grid-column: 8;
    grid-row: 2; }
  .uprising-effects-section__article {
    grid-row: 2;
    grid-column: 2 / 4; }
  .uprising-effects-section__button {
    margin-top: 15vh; }
  .uprising-effects-section__card {
    grid-row: 2;
    grid-column: 4;
    margin-right: 6vw;
    margin-bottom: 5vh; }
    .uprising-effects-section__card--second {
      grid-column: 6; }

.gallery-section {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr 80vw 1fr min-content; }
  .gallery-section__gallery {
    justify-self: center;
    margin-top: 15vh;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 5vh; }
  .gallery-section__section-header {
    grid-row: 1;
    grid-column: 1 / -1; }
  .gallery-section__about-aside {
    grid-column: 4;
    grid-row: 2 / -1;
    align-self: center; }

.gallery {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(8, 15vw);
  grid-gap: 1rem; }
  .gallery__image1 {
    grid-column: 1 / 4;
    grid-row: 1; }
  .gallery__image2 {
    grid-column: 4 / 8;
    grid-row: 1; }
  .gallery__image3 {
    grid-column: 1 / 8;
    grid-row: 2; }
  .gallery__image4 {
    grid-column: 1 / 3;
    grid-row: 3; }
  .gallery__image5 {
    grid-column: 3 / 5;
    grid-row: 3; }
  .gallery__image6 {
    grid-column: 5 / 8;
    grid-row: 3; }
  .gallery__button {
    grid-row: 4;
    grid-column: 1 / 6;
    justify-self: center;
    margin-top: 5vh;
    transform: translate(5vw); }

.footer {
  padding: 5vh 5vw;
  background-color: #383838; }
  .footer__navigation-container {
    display: flex;
    justify-content: center;
    width: 100%; }
