// Colors
    $primary-color: rgb(216, 0, 0);
    $secondary-color: rgb(247, 247, 247);
    $main-font-color: rgb(7, 7, 7);
// Mixins
    @mixin largest-devices {
        @media (min-width: 3000px) { @content };
    }
    @mixin bigger-devices {
        @media (min-width: 1900px) { @content; }
    }
    @mixin small-laptops {
        @media (max-width: 1250px) { @content; }
    }
    @mixin big-tablets {
        @media (max-width: 1100px) { @content; }
    }
    @mixin tablets {
        @media (max-width: 1000px) { @content; }
    }
    @mixin small-tablets {
        @media (max-width: 850px) { @content; }
    }
    @mixin tablet-phone {
        @media (max-width: 750px) { @content; }
    }
    @mixin huge-phone {
        @media (max-width: 600px) { @content; }
    }
    @mixin big-phone {
        @media (max-width: 500px) { @content; }
    }
    @mixin phone {
        @media (max-width: 400px) { @content; }
    }
    @mixin small-phone {
        @media (max-width: 350px) { @content; }
    }
// Basic reset 
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    
    @include bigger-devices{
        font-size: 12px;
    }
    @include largest-devices{
        font-size: 20px;
    }
    @include small-laptops{
        font-size: 9px;
    }
    @include big-tablets(){
        font-size: 8px;
    }
    @include tablets{
        font-size: 7px;
    }
    @include small-tablets{
        font-size: 6px;
    }
    @include tablet-phone{
        font-size: 5px;
    }
  
    @include big-phone{
        font-size: 4px;
    }
    @include small-phone{
        font-size: 3px;
    }
    
    
   
}

body {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
a, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}
