// Colors
    $primary-color: rgb(216, 0, 0);
    $secondary-color: rgb(247, 247, 247);
    $main-font-color: rgb(7, 7, 7);
// Basic reset 
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
a, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}