.main-header{
    text-align: center;
    color: $secondary-color;
    font-size: 4rem;
    
    &__sentense{
        color: $primary-color;
        font-size: 3.5rem;
    }
}

.navigation{
    display: flex;
    font-size:3rem;
    list-style: none;
    color: $secondary-color;
    &__element{
        margin-right: 4rem;
        padding-right: 3rem;
        border-right: solid 2px $primary-color;
        transition: all 0.6s;
        &:hover{
            color: $primary-color;
        }
        &--last{
            border-right: none;
        }
    }
}

.section-header{
    display: block;
        margin-top: 10rem;
        display: flex;
        justify-content: center;
        line-height: 1rem;
    &::before{
            
        content: "";
        display: block;
        width: 14vw;
        height: .3rem;
        background-color: $primary-color;
    }
    &::after{
        content: "";
        display: block;
        width: 14vw;
        height: .3rem;
        background-color: $primary-color;
    }
    &__content{
            
            color: $primary-color;
            font-size: 4.5rem;
            padding: 0 3rem;
            
        
        
    }
    
}
.articles-container{
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
}


.article{
    padding: 0 10rem;
    color: $main-font-color;
    font-size: 2.5rem;
    background-color: rgba(256, 256, 256, 0.6);
    margin-top: 10vh;
    text-align: center;
    &--right{
        transform: translateX(6rem);
    }
    
}
.time-aside{
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    &__paragraph{
        font-size: 2.7rem;
        line-height: 3rem;
        align-items: center;
        display: flex;
        color: $secondary-color;
        text-align: center;
        transform:  rotate(270deg);
        &--alt-rotate{
            transform: rotate(90deg);
        }
        &::before{
            margin-right: 5rem;
            content: "";
            display: block;
            width: 30vh;
            height: .3rem;
            background-color: $secondary-color;
            
        }
        &::after{
            margin-left: 5rem;
            content: "";
            display: block;
            width: 30vh;
            height: .3rem;
            background-color: $secondary-color;
            
        }
        
    }

}
.about-aside{
    
    display: flex;
    align-items: flex-end;
    margin-bottom: 5vh;
    
    &__content{
        background-color: $primary-color;
        height: 40vh;
        width: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    &__paragraph
    {
        display: block;
        width: 10rem;
        color: $secondary-color;
        font-size: 2rem;
        transform: rotate(90deg);
        
    }
}
.button{
    display: block;
    background-color: $primary-color;
    width: 30rem;
    text-align: center;
    padding: .6rem;
    font-size: 2.5rem;
    color: $secondary-color;
    
}
.ornament{
    background-image: url(../images/ornament-image1.jpg);
    background-position: center;
    background-size: cover;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content{
        display: block;
        background-color: rgba(0, 0, 0, 0.394);
        color: $secondary-color;
        font-size: 2.5rem;
        width: 80%;
    }
}