.main-header{
    text-align: center;
    color: $secondary-color;
    font-size: 4rem;
    
    &__sentense{
        color: $primary-color;
        font-size: 3.5rem;
    }
}

.navigation{
    display: flex;
    font-size: 3rem;
    list-style: none;
    color: $secondary-color;
    &__element{
        margin-right: 4rem;
        padding-right: 3rem;
        border-right: solid 2px $primary-color;
        transition: all 0.6s;
        &:hover{
            color: $primary-color;
        }
        &--small{
            font-size: 2.5rem;
        }
        &--last{
            border-right: none;
        }
    }
}

.section-header{
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        line-height: 1rem;
    &::before{
            
        content: "";
        display: block;
        width: 14vw;
        height: .3rem;
        background-color: $primary-color;
    }
    &::after{
        content: "";
        display: block;
        width: 14vw;
        height: .3rem;
        background-color: $primary-color;
    }
    &__content{
            
            color: $primary-color;
            font-size: 4.5rem;
            padding: 0 3rem;
            
        
        
    }
    
}
.articles-container{
    display: flex;
    flex-direction: column;
}


.article{
    display: block;
    padding: 0 10rem;
    color: $main-font-color;
    font-size: 2.5rem;
    background-color: rgba(256, 256, 256, 0.6);
    text-align: center;
    &--right{
        transform: translateX(6rem);
    }
    
}
.time-aside{
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__paragraph{
        font-size: 2.7rem;
        line-height: 3rem;
        align-items: center;
        display: flex;
        color: $secondary-color;
        text-align: center;
        transform:  rotate(270deg);
        
        &--alt-rotate{
            transform: rotate(90deg);
        }
        
        
        &::before{
            margin-right: 5rem;
            content: "";
            display: block;
            width: 80vh;
            height: .3rem;
            background-color: $secondary-color;
            
            
        }
        &::after{
            margin-left: 5rem;
            content: "";
            display: block;
            width: 80vh;
            height: .3rem;
            background-color: $secondary-color;
            
           
            
        }
        
    }

}
.about-aside{
    align-self: center;
    &__content{
        background-color: $primary-color;
        height: 40vh;
        width: 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &--decision{
            height: 30vh;
            text-align: center;
        }
        
    }
    &__paragraph
    {
        display: block;
        width: 10rem;
        color: $secondary-color;
        font-size: 2rem;
        transform: rotate(90deg);
        &--large{
            width: 20rem;
        }
        
    }
}
.button{
    display: block;
    background-color: $primary-color;
    width: 30rem;
    text-align: center;
    padding: .6rem;
    font-size: 2.5rem;
    color: $secondary-color;
    &--large{
        width: 35rem;
        font-size: 3rem;
    }
    
}
.ornament{
    background-position: center;
    background-size: cover;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &--bgimage1
    {
        background-image: url(../images/ornament1.jpg);
    }
    &--bgimage2{
        background-image: url(../images/ornament2.jpg);
    }
    &--bgimage3{
        background-image: url(../images/ornament3.jpg);
    }
    &--bgimage4{
        background-image: url(../images/ornament4.jpg);
        background-position: center;
    }
    &__content{
        display: block;
        background-color: rgba(0, 0, 0, 0.394);
        color: $secondary-color;
        font-size: 2.5rem;
        width: 80%;
        padding: 1rem;
        &--3{
            font-size: 2rem;
        }
    }
}

.day-container{
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(174, 166, 166);
    
    
    &__heading{
        color: $primary-color;
        font-size: 4.5rem;
        order: 1;
        &--col2{
            order: 2;
        }
    }
    &__content{
        display: block;
        width: 50%;
        color: $main-font-color;
        font-size: 2.5rem;
        order: 1;
    }
}

    
    .card{
        position: relative;
        width: 20vw;
        height: 45rem;
        transform-style: preserve-3d;
        transition: all 0.9s ease;
        &:hover{
            transform: translateY(-2rem) rotateY(180deg) ;
            
        }
        &__front{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background-color: $primary-color;
            overflow: hidden;
            display: flex;
            align-items: center;
           justify-content: center;
            flex-direction: column;
        }
        &__image{
            width: 20rem;
        }
    
        
        &__paragraph{
            margin-top: 2rem;
            color: white;
            font-size: 4rem;
        }
        &__back{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background-color: $primary-color;
            background-image: url(../images/uprising-symbol.png);
            background-position: bottom;
            background-size: 90%;
            background-repeat: no-repeat;
            transform: rotateY(180deg);
            color: white;
            font-size: 2rem;
            line-height: 3rem;
            font-weight: bold;
            padding: 2rem;
            text-align: center;
        }
    }
    .gallery{
        overflow: hidden;
        width: 100%;
        
    }
    .gallery-img{
        width: 100%;
        height: 100%;
        max-height: 50vh;
        object-fit: cover;
        overflow: hidden;
    }
   .restricted-paragraph{
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        color: $secondary-color;
        font-size: 2rem;
        
   }
.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        display: block;
        width: 80%;
        background-color: $secondary-color;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
        border-radius: 3px;
        overflow: hidden;
        opacity: 0;
        transition: all .5s .2s;
        padding: 2rem;
        border: 4px solid $primary-color;
    }
    &__video{
        width: 100%;
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
    }
    &__text{
        
        background-color: rgba(255, 255, 255, 0.872);
    }
    &__button{
        margin: 2vh auto 0 auto;
    }
}

